<!-- # <% @locations.each do |location| %>
#  	<h1><%= location.address %></h1>
#  	<h1><%= location.latitude %></h1>
#  	<h1><%= location.longitude %></h1>
#  	<h1><%= location.country_code %></h1>
# <% end %> -->

<div class="right-padding">
	<%= render @locations %>
</div>