<div class="headerfull wrapper">
	<div class="header text-right">
		<div class="logo-area"><h1>HC</h1></div>
		<%= render 'layouts/filter' %>
		<div class="sign-up-wrapper">
			<% if current_user %>
				<%= link_to signout_path, id: "sign_out" do %>
					<span class="downsize subtle-text small-text">Not <%= current_user.name %>?</span>
				<% end %>
			<% else %>
				<span class="downsize subtle-text small-text">Not signed in?</span>
				<%= link_to "/auth/facebook", :class => "soc-media-icon", id: "sign_in" do %>
					<i class="fa fa-facebook"></i>
				<% end %>
				<%= link_to "/auth/twitter", :class => "soc-media-icon", id: "sign_in" do %>
					<i class="fa fa-twitter"></i>
				<% end %>
			<% end %>
		</div>
		<div class="clearme"></div>
	</div>
</div>